.scrollmenu {
    overflow-y: hidden;
    overflow-x: visible;
}

.myProjects {
    width: 20%;
    height: 300px;
    white-space: initial;
    display: inline-block;
    color: black;
    margin: 4%;
    border-radius: 1rem;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);

}

@media (max-width: 1000px) {
    .myProjects {
        width: 40%;
    }
}

@media (max-width: 800px) {
    .myProjects {
        width: 70%;
    }

    .scrollmenu {
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: visible;
    }
}


.scrollmenu img {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}


.wrapper {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}